<table class="table table-striped">
    <thead class="table-dark">
        <tr>
            <th class="text-center" scope="col" *ngFor="let column of columns">{{column.name}}</th>
            <th class="text-center" scope="col">Opciones</th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let row of data" class="text-center">
            <td *ngFor="let field of columns">
                {{row[field.key]}}
            </td>
            <td>
                <fa-icon class="option" (click)="selectOne(row.id, optionsType.View)"[icon]="eyeIcon"></fa-icon>
                <fa-icon class="option" (click)="selectOne(row.id, optionsType.Delete)" [icon]="trashIcon"></fa-icon>
            </td>
        </tr>
    </tbody>
</table>