<div class="home mt-5">
    <div class="container page">
        <div class="row mb-5">
            <h2 class="title">Busqueda contactos:</h2>
            <form class="search-form" [formGroup]="searchForm" (ngSubmit)="submitForm(true)">
                <div class="row">
                    <div class="mb-3 col-lg-2 col-12">
                        <label for="name" class="form-label ">Nombre:</label>
                        <input type="text" class="form-control" id="name" formControlName="name" placeholder="John">
                    </div>
                    <div class="mb-3 col-lg-3 col-12">
                        <label for="lastName" class="form-label ">Apellidos:</label>
                        <input type="text" class="form-control" id="last-name" formControlName="lastName" placeholder="Doe Morrison">
                    </div>
                    <div class="mb-3 col-lg-3 col-12">
                        <label for="email" class="form-label">Email:</label>
                        <input type="email" class="form-control" id="email" formControlName="email" placeholder="name@example.com">
                    </div>
                    <div class="mb-3 col-lg-2 col-12">
                        <label for="dni" class="form-label">DNI:</label>
                        <input type="text" class="form-control" id="dni" formControlName="dni" placeholder="[0/X]0000000X">
                    </div>
                    <div class="mb-3 col-lg-2 col-12">
                        <label for="phone" class="form-label">Telefono:</label>
                        <input type="text" class="form-control" id="phone" formControlName="phone" placeholder="(EXT)666666666">
                    </div>
                </div>
                <div class="row justify-content-end g-1 mb-2">
                    <div class="col-lg-2 form-check form-switch">
                        <label class="form-check-label" for="expelled">No deseado</label>
                        <input class="form-control form-check-input" type="checkbox" formControlName="expelled" role="switch" id="expelled">
                    </div>
                </div>
                <div class="row justify-content-end g-1">
                    <button class="col-lg-2 col-12 btn bg-dark text-white justify-content-end" [disabled]="!searchForm.valid" type="submit">
                        Buscar
                    </button>
                </div>
            </form>
        </div>

        <div *ngIf="showListSection && contactList && contactList.length > 0" class="row">
            <h2 class="title">Lista de contactos:</h2>
            <app-table [columns]="tableColumns" [data]="contactList" (delete)="deleteContact($event)" (view)="redirect($event)"></app-table>
            <app-pagination [totalPages]="totalContacts" [currentPage]="currentPage" (pageSelect)="paginate($event)"></app-pagination>
        </div>
    </div>
    
    <ng-template #modal>
        <app-modal [config]="modalConfig" (close)="closeModal()" (confirm)="confirmDelete()"></app-modal>
    </ng-template>
</div>