<div class="shop-pagination">
  <nav aria-label="pagination" class="pagination-shop">
    <ul class="pagination justify-content-end" style="cursor: pointer">
      
      <li [hidden]="firstPage === actualPage" class="page-item" (click)="select(firstPage)">
        <a class="page-link text-black">Primera</a>
      </li>

      <li [hidden]="!previousPage || previousPage === actualPage" class="page-item" (click)="select(previousPage)">
        <a
          class="page-link text-black"
          >{{previousPage}}</a
        >
      </li>

      <li class="page-item active">
        <a class="page-link bg-black border-dark">{{actualPage}}</a>
      </li>

      <li [hidden]="!nextPage || nextPage > lastPage" class="page-item" (click)="select(nextPage)">
        <a
          class="page-link text-black"
          >{{nextPage}}</a
        >
      </li>

      <li [hidden]="actualPage === lastPage"class="page-item" (click)="select(lastPage)">
        <a class="page-link text-black">Ultima</a>
      </li>
    </ul>
  </nav>
</div>
